HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**.DS_store

###sts###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

###intellij###
.idea
*.iws
*.iml
*.ipr

###maven###
.mvn/
.mvn/wrapper/
mvnw
mvnw.cmd
