#password {
    margin-bottom: 4px;
}

#go-back-link {
    color: #E91E63; 
    font-size: 12px;
    text-decoration: none;
    display: block;
    margin-left: 2px;
}

#go-back-link:hover {
    text-decoration: underline;
}